/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/caddy
frankenphp
frankenphp-worker.php
/config/composer
/data

**/caddy
