/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vagrant
/public/images/logo_override.png
frankenphp
/config/composer
/data