// Body
$main: #272727;
$main-border: #b1b1b1;
$body-bg: #f8fafc;
$accent: #ff8800;
$banner-bg: #e9ecef;

// Typography
$font-family-sans-serif: "Open Sans",
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Borders
$border-radius: 2px;
