// Body
$main: #3a3a3a;
$body-bg: #f8fafc;
$accent: red;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Borders
$border-radius: 3px;
