// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";


//Page
body {
    font-family: "Open Sans", sans-serif;
    color: $main;
}

//Components
.form-control {
    border: 1px solid #b1b1b1 !important;
    border-radius: 0.1rem !important;
}


//Title
.title {
    border-bottom: 1px solid $main-border;
    margin: 1rem;
    margin-top: 0rem;
    height: auto;
    text-align: center;
}

//Games Grid
.gamegrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, auto));
    grid-gap: .5rem;
    margin: auto;

    .gamecard {
        position: relative;
        width: 100%;
        max-width: 264px;
        background-color: #272727;
        border-radius: 2px;
        border: 1px solid #272727;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gamecard:hover .overlay {
        opacity: 1;
    }

    .image {
        display: block;
        width: 100%;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        transition: 0.5s ease;
        opacity: 0.8;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        height: 3rem;

        a {
            color: white;
        }
    }
}

.page {
    margin: auto;
    padding: 0rem 1rem 1rem 1rem;
}

//AutoComplete Component
.autocomplete {
    position: relative;

    .autocomplete-results {
        padding: 0;
        margin: 0;
        border: 1px solid lightgrey;
        border-radius: bottom 2px;
        overflow: auto;
        background-color: white;
        position: absolute;
        z-index: 2000;
        width: 100%;

        .autocomplete-result {
            list-style: none;
            text-align: left;
            padding: 8px 2px;
            cursor: pointer;
            margin-top: 2px;
        }

        .autocomplete-result.is-active,
        .autocomplete-result:hover {
            background-color: $accent;
            color: white;
        }
    }
}

//Bootstrap Overrides
.navbar-dark {
    color: $accent !important;
}

.navbar-keyshare {
    background-color: $main !important;
    //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    border-bottom: 2px solid $accent;
    padding: 0.1rem 1rem;
    color: $accent !important;

    .dropdown-menu {
        border-radius: $border-radius;
        border-color: $main-border;
        padding: 0rem 0rem;

        .dropdown-item:hover {
            background-color: $accent;
        }

        .dropdown-divider {
            border-top: 1px solid $main-border;
            margin: 0 0;
        }
    }

    .navbar-brand {
        color: #f1f1f1 !important;
        padding-right: 1rem;
    }


    .nav-link {
        padding-right: .75rem !important;
        padding-left: .75rem !important;
    }

    .nav-link:hover {
        color: #f1f1f1 !important;
        background-color: lighten($main, 15%);
    }

    .navbar-search {
        width: 20rem;
        background-color: lighten($main, 15%);
        border-color: darken($main, 15%);
        color: lighten($main, 50%);
        box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.45);
    }
}

.jumbotron {
    padding-top: 4rem !important;
    padding-bottom: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-radius: 0px !important;
    border-bottom: 1px solid $main-border;
    background-color: $banner-bg;
    margin-bottom: 0px !important;
}

.form-control:focus {
    border-color: $accent;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba($accent, 0.3);
}

.btn-link {
    color: $accent;
}

.btn-link:hover {
    color: darken($accent, 10%);
}

.media {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
