@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    body {
        @apply bg-dark-950 text-gray-100 font-sans;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
